<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <style>
      /* .box{width:100%;height:500px;background: -webkit-linear-gradient(top, red 20%, yellow 50%, green 100%);} */
      .box{width:100%;height:600px;background: -webkit-radial-gradient(bottom left,red 10% ,green 60%, blue);}
    </style>
  </head>
  <body>
    <%- include("header",{title:"首页"}) %>
    <div class="box">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%  if(username){  %>
      <h2>欢迎 贵宾  === <%-  username %> </h2>
      <button class="btn btn-primary" onclick="window.location.href='/comments/list'" >影评列表</button>
      <button class="btn btn-primary" onclick="window.location.href='/movie'" >电影列表</button>
      <button class="btn btn-danger"  onclick="window.location.href='/layout'"  >注销</button>
      <button class="btn btn-danger"  onclick="window.location.href='/cancel'"  >删除账号</button>

   <% }else{  %>
      <h2>请登录 </h2>
      <button class="btn btn-primary " onclick="window.location.href='/login'">登录</button>
      <button class="btn btn-info " onclick="window.location.href='/register'">注册</button>
   <% }  %>
      
    </div>

  
      <%- include("footer") %>
  
  </body>
</html>
