
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
</head>
<body>
    <%- include('header')   %>
<section class="publicMian w1200">
    <%- include('contentLeft')   %>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>账单管理页面 >> 订单添加页面</span>
        </div>
        <div class="providerAdd">
            <form action="/saleUpdate2?_id=<%-result._id  %>" method="POST">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="providerId">收银窗口：</label>
                    <input type="text" name="no1" id="providerId" value="<%- result.no1 %>" />
                    <span>*</span>
                </div>
                <div>
                    <label for="providerName">收银员：</label>
                    <input type="text" name="no2" id="providerName" value="<%- result.no2 %>"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="people">账单编码：</label>
                    <input type="text" name="no3" id="people" value="<%- result.no3 %>"/>
                    <span>*</span>
                </div>
                <div>
                    <label for="phone">账单金额：</label>
                    <input type="text" name="no4" id="phone" value="<%- result.no4 %>"/>
                    <span>*</span>
                </div>
                <div>
                    <label for="address">创建时间：</label>
                    <input type="text" name="no5" id="address" value="<%- result.no5 %>"/>
                    <span>*</span>
                </div>
                <div class="providerAddBtn">
                    <!-- <a href="#">保存</a> -->
                    <!--<a href="billList.html">返回</a>-->
                    <input type="submit" value="保存" />
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer w1200">
</footer>
<script src="/javascripts/time.js"></script>
<script src="/bootstrap/js/jquery-1.10.1.js"></script>
<script>
$(".list li").eq(1).attr("id","active");
</script>
</body>
</html>