<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header',{title:"首页"})   %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>wh1803 daydayup</h2>
    <h2>Express so easy</h2>
    <h2><%= msg %></h2>
    <h2> <%= word  %> </h2>
    <h2> <%- hello %></h2>

    <div>
      <%- tag%>
    </div>

    <!-- 这些是注释的内容 -->
    <%# 这是ejs的注释 %>

    <p><%%</p>

    <p>%%></p>

    <%- flag ?"明天下雨":"明天龙卷风" %>

   <%  if(username){  %>
      <h2>欢迎 贵宾  === <%-  username%> </h2>
      <button>注销</button>
   <% }else{  %>
      <h2>请登录 </h2>
      <button onclick="window.location.href='/login'">登录</button>
      <button onclick="window.location.href='/register'">注册</button>
   <% }  %>

   <% arr.forEach((item,index)=>{  %>
         <p><%- item %>---<%- index %></p>
    <%   })  %>


    <%-  include("footer")   %>
    <% include footer %>
   </body>
</html>
