
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
</head>
<body>
    <%- include('header')   %>
    
<section class="publicMian w1200">
    <%- include('contentLeft')   %>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>账单管理页面 >> 信息查看</span>
        </div>
        <div class="providerView">
            <p><strong>订单编号：</strong><span><%- result.no1  %></span></p>
            <p><strong>货物类型：</strong><span><%- result.no2  %></span></p>
            <p><strong>供应商：</strong><span><%- result.no3  %></span></p>
            <p><strong>商品数量：</strong><span><%- result.no7  %></span></p>
            <p><strong>总金额：</strong><span><%- result.no4  %></span></p>
            <p><strong>是否付款：</strong><span><%- result.no5  %></span></p>
            <p><strong>采购人：</strong><span><%- result.no8  %></span></p>
            <p><strong>验收人：</strong><span><%- result.no9  %></span></p>
            <p><strong>入库人：</strong><span><%- result.no10  %></span></p>
            <p><strong>订单时间：</strong><span><%- result.no6  %></span></p>
            <a onclick="history.back(-1)">返回</a>
            <!-- <a href="javascript:;"><span onclick="history.back(-1)">返回</span></a> -->
        </div>
    </div>
</section>
<footer class="footer w1200">
</footer>
<script src="/javascripts/time.js"></script>
<script src="/bootstrap/js/jquery-1.10.1.js"></script>
<script>
$(".list li").eq(0).attr("id","active");
</script>
</body>
</html>