
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
</head>
<body>
    <%- include('header')   %>
    <section class="publicMian w1200">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                        <li onclick="window.location.href='/personmsg'">我的信息</li>
                        <li id="active" onclick="window.location.href='/persontime'">打卡时间</li>
                        <li onclick="window.location.href='/personpay'">我的工资</li>
                        <li onclick="window.location.href='/personact'" >公司活动</li>
                        <li onclick="window.location.href='/personadv'" >我的建议</li>   
                        <li onclick="window.location.href='/personpwd'">密码修改</li>               
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>打卡时间页面</span>　　　　　
                <span style="color:blue">(!!!若有签到问题请向财务部程经理联系:13512345678)</span>
            </div>
            <!--账单表格 样式和供应商公用-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="20%">日期</th>
                    <th width="25%">签到时间</th>
                    <th width="25%">签退时间</th>
                    <th width="20%">加班时间</th>
                    <th width="10%">是否上班</th>
                </tr>                
                <%    result.forEach((item,index)=>{   %>
                    <tr style="height:40px;">
                        <td><%- item.no1  %></td>
                        <td><%- item.no2  %></td>
                        <td><%- item.no3  %></td>
                        <td><%- item.no4  %></td>
                        <td><%- item.no5  %></td>
                    </tr>
                <%    })   %>
                <tr id="trfoot">
                    <td colspan="5" class="h4 text-center text-primary">
                      <a href="/persontime?pageNo=1">首页</a>
                      <a href="/persontime?pageNo=<%- pageNo<=1?1:pageNo-1 %>">上一页</a>
                      <a href="/persontime?pageNo=<%- pageNo>=totalpage?totalpage:pageNo+1 %>">下一页</a>
                      <a href="/persontime?pageNo=<%- totalpage %>">尾页</a>
                      <p>
                        <%- pageNo %>/<%- totalpage %> 共<%- count %>条
                      </p>
                    </td>
                  </tr> 
            </table>
        </div>
    </section>

    <footer class="footer w1200"></footer>


<script src="/bootstrap/js/jquery-1.10.1.js"></script>
<script src="/javascripts/js.js"></script>
<script src="/javascripts/time.js"></script>
<script>
    $("#queryBtn").click(function(){
        var goodsname=$("#time").val();
       window.location.href="/billquery?time="+time;
    })
</script>
</body>
</html>