
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
</head>
<body>
    <%- include('header')   %>
<section class="publicMian w1200">
    <%- include('contentLeft')   %>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面</span>
        </div>
        <div class="search">
            <span>供应商名称：</span>
            <input type="text" id="username" placeholder="请输入供应商的名称"/>
            <input type="button" value="查询" id="queryBtn"/>
            <a  href="#" onclick="history.back(-1)">返回</a>
        </div>
        <!--供应商操作表格-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">供应商编码</th>
                <th width="20%">供应商名称</th>
                <th width="10%">联系人</th>
                <th width="10%">联系电话</th>
                <th width="10%">传真</th>
                <th width="10%">创建时间</th>
                <th width="30%">操作</th>
            </tr>
            <%    result.forEach((item,index)=>{   %>
                <tr class="trmiddle">
                    <td><%- item.no1  %></td>
                    <td><%- item.no2  %></td>
                    <td><%- item.no3  %></td>
                    <td><%- item.no4  %></td>
                    <td><%- item.no5  %></td>
                    <td><%- item.no6  %></td>
                <td>
                    <a href="javascript:;" class="tr_a1" onclick="window.location.href='/providerView?_id=<%- item._id %>'">查看</a>
                    <a href="javascript:;" class="tr_a2" onclick="window.location.href='/providerUpdate?_id=<%- item._id %>'">修改</a>
                    <a href="javascript:;"  class="removeBill tr_a3" onclick="getId('<%- item._id %>')">删除</a>
                </td>
            </tr>
            <%    })   %>
            <tr id="trfoot">
                <td colspan="7" class="h4 text-center text-primary">
                  <a href="/providerquery?pageNo=1&name=<%- name?name:'' %>">首页</a>
                  <a href="/providerquery?pageNo=<%- pageNo<=1?1:pageNo-1 %>&name=<%- name?name:'' %>">上一页</a>
                  <a href="/providerquery?pageNo=<%- pageNo>=totalpage?totalpage:pageNo+1 %>&name=<%- name?name:'' %>">下一页</a>
                  <a href="/providerquery?pageNo=<%- totalpage %>&name=<%- name?name:'' %>">尾页</a>
                  <p>
                    <%- pageNo %>/<%- totalpage %> 共<%- count %>条
                  </p>
                </td>
              </tr>
        </table>

    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeProv">
   <div class="removerChid">
       <h2>提示</h2>
       <div class="removeMain" >
           <p>你确定要删除该供应商吗？</p>
           <a href="#" id="yes">确定</a>
           <a href="#" id="no">取消</a>
       </div>
   </div>
</div>


<footer class="footer w1200">
</footer>

<script src="/bootstrap/js/jquery-1.10.1.js"></script>
<script src="/javascripts/js.js"></script>
<script src="/javascripts/time.js"></script>
<script>
     $("#queryBtn").click(function(){
        var username=$("#username").val();
       window.location.href="/providerquery?username="+username;
    })

         var arg = null;  
    function getId(_id){
        arg = _id;
        console.log(arg);
    }

    function del(arg){
        window.location.href="/providerDelete?_id="+arg;
    }
    $(".list li").eq(2).attr("id","active");
</script>
</body>
</html>