
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
</head>
<body>
    <%- include('header')   %>
<section class="publicMian w1200">
    <%- include('contentLeft')   %>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户修改页面</span>
        </div>
        <div class="providerAdd">
            <form action="/userUpdate2?_id=<%-result._id  %>" method="POST">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div>
                    <label for="userName">工号：</label>
                    <input type="text" name="no1" id="userName" value="<%-  result.no1 %>"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="userName">姓名：</label>
                    <input type="text" name="no2" id="userName" value="<%-  result.no2 %>"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="userName">性别：</label>
                    <input type="text" name="no3" id="userName" value="<%-  result.no3 %>"/>
                    <span >*</span>                  
                </div>
                <div>
                    <label for="data">年龄：</label>
                    <input type="text" name="no4" id="data" value="<%-  result.no4 %>"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="userphone">电话：</label>
                    <input type="text" name="no5" id="userphone" value="<%-  result.no5 %>"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="userAddress">入职时间：</label>
                    <input type="text" name="no6" id="userAddress" value="<%-  result.no6 %>"/>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.html">返回</a>-->
                    <input type="submit" value="保存" />
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer w1200">
</footer>
<script src="/javascripts/time.js"></script>
<script src="/bootstrap/js/jquery-1.10.1.js"></script>
<script>
$(".list li").eq(3).attr("id","active");
</script>
</body>
</html>