<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <meta name="referrer" content="no-referrer"/>
    <title>发布评论</title>
    <style>
        .img{
            width:100%;
            height:280px !important;
        }
        .box{
            margin-top:50px;
        }
    </style>
</head>
<body>
    
    <%- include('header',{title:"发布评论"})   %>


    <div class="container box">
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="thumbnail">
                <img class="img" src="<%- result.images.large %>" alt="">
                <div class="caption">
                    <h4 class="pull-right"><%- result.year%> 年</h4>
                    <h2><%- result.title%></h2>
                    <p class="text-success">导演: <%- result.directors[0].name%></p>
                    <p class="text-danger">评分:  <%- result.rating.average%></p>
                    <p class="text-info">分类:  <%- result.genres%></p>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
            <h3 class="caption">发布电影评论</h3>
            <form action="/comments/submit?mid=<%- result.id% >" method="POST">
               <div class="form-group">
                   <label for="title">标题:</label>
                   <input type="text" class="form-control"  name="title" id="title" placeholder="标题">
               </div>
               <div class="form-group">
                    <label for="content">内容:</label>
                    <textarea class="form-control" type="text"  name="content" id="content" placeholder="内容"  cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">发表评论</button>
            </form>
        </div>
    </div>
</body>
</html>