<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/javascripts/xheditor/jquery/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/xheditor/xheditor-1.2.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/xheditor/xheditor_lang/zh-cn.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <meta name="referrer" content="no-referrer"/>
    <title>发布评论</title>
    <style>
        .img{
            width:100%;
            height:280px !important;
        }
        .box{
            margin-top:50px;
        }
    </style>
</head>
<body>
    
    <%- include('header',{title:"发布评论"})   %>


    <div class="container box">
        <div class="col-md-3 col-lg-3 col-sm-3">
            <div class="thumbnail">
                <img class="img" src="<%- result.images.large %>" alt="">
                <div class="caption">
                    <h4 class="pull-right"><%- result.year%> 年</h4>
                    <h2><%- result.title%></h2>
                    <p class="text-success">导演: <%- result.directors[0].name%></p>
                    <p class="text-danger">评分:  <%- result.rating.average%></p>
                    <p class="text-info">分类:  <%- result.genres%></p>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
            <h3 class="caption">发布电影评论</h3>
            <form action="/comments/submit?mid=<%- result.id %>" method="POST">
               <div class="form-group">
                   <label for="title">标题:</label>
                   <input type="text" class="form-control"  name="title" id="title" placeholder="标题">
               </div>
               <div class="form-group">
                    <label for="content">内容:</label>
                    <textarea class="form-control" type="text"  name="content" id="content" placeholder="内容"  cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">发表评论</button>
            </form>
        </div>
    </div>
    <script>
    
            // $("#content").xheditor();
            $(pageInit);
        
        //  comment.ejs  /comment/index
        function pageInit(){
            $.extend(XHEDITOR.settings,{shortcuts:{"ctrl+enter":submitForm}});
            // $("#ele").xheditor();
            $("#content").xheditor({   //初始化 富文件编辑框
                html5Upload:false,
                upMultiple:"1",
        
                upLinkRrl:"upload.html",
                upLinkExt:"zip,rar,txt",
        
                upImgUrl:"/comments/uploadImg",
                upImgExt:"jpg,jpeg,gif,png",
        
                upFlashUrl:"upload.php",
                upFlashExt:"swf",
        
                upMediaUrl:"upload.php",
                upMediaExt:"wmv,avi,wma,mp3,mid"
        
            });
        };
        
        function insertUpload(arrMsg){
            console.log(arrMsg);
            var i,msg;
            for(var i=0;i<arrMsg.length;i++){
                msg=arrMsg[i];
                console.log(msg);
                $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>')
            }
        };
        
        function submitForm(){
            $("#frmDemo").submit();
        }
        </script>
</body>

</html>
