<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <meta name="referrer" content="no-referrer"/>
    <title>评论列表</title>
    <style>
        .img{
            width:100%;
            height:220px !important;
        }
        .box{
            margin-top:50px;
        }
    </style>
</head>
<body>
    <header class="navbar navbar-static-top bs-docs-nav navbar-inverse" id="top">
        <div class="container">
        <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/register" class="navbar-brand">注册</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
            <a href="/" >首页</a>
            </li>
            <li>
            <a href="/login" >登录</a>
            </li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            
            <li><a href="/movie" >电影</a></li>
        </ul>
        </nav>
    </div>
    </header>
    <div class="container box">
        <div class="col-md-12"> 
            <button class="btn btn-info">查看当前电影的所有评论</button>
            <button class="btn btn-primary">查看我的所有评论</button>
            <table class="table table-hover table-bordered">
                <caption class="h1 text-info">电影评论</caption>
                <tr class="text-center text-danger">
                    <td >序号</td>
                    <td>标题</td>
                    <td>内容</td>
                    <td>时间</td>
                    <td>评论人</td>
                    <td>当前电影</td>
                    <td>操作</td>
                </tr>
                <% if(result.length>0){%>
                    <% result.forEach((item,index)=>{ %>
                        <tr  class="text-center text-warning">
                            <td><%- index+1%></td>
                            <td class="text-primary"><%- item.title%></td>
                            <td><%- item.content%></td>
                            <td><%- item.time%></td>
                            <td><%- item.username%></td>
                            <td><%- item.mid%></td>
                            <td>
                                <button class="btn btn-primary">修改</button>
                                <button class="btn btn-danger">删除</button>
                            </td>
                        </tr>
                  <%  })  %>
               <% }else{  %>
                        <tr>
                            <td colspan="7" class="h4 text-center text-danger">
                                <p>暂无数据</p>
                            </td>
                        </tr>
               <%  }  %>
               <tr>
                   <td colspan="7" class="text-right text-danger">
                        <button class="btn btn-danger">删除所有</button>
                   </td>
               </tr>
               <tr>
                   <td colspan="7" class="text-center text-primary">
                       <a href="/comments/list?pageNo=1">首页</a>
                       <a href="/comments/list?pageNo=<%- pageNo<=1?1:pageNo-1%>">上一页</a>
                       <a href="/comments/list?pageNo=<%- pageNo>=totalPage?totalPage:pageNo+1%>">下一页</a>
                       <a href="/comments/list?pageNo=<%- totalPage%>">尾页</a>
                       <%- pageNo%> /  <%- totalPage%>
                       共 <%- count %>  条
                   </td>
               </tr>
         
            </table>
        </div>
    </div>
</body>
</html>